%div{class:'modal hide fade', id:'TeamModal', tabindex:'-1', role:'dialog', 'aria-hidden'=>'true', style: 'width:700px;'}
  .modal-header
    %button{type:'button', class:'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
      ×
    .modal-hd
      = t('global.teams')
    .modal-desc
      = t('teams.globals.teams_hint')
  .modal-body(style='max-height:800px;')
    .big-inputs
      = simple_form_for @team, validate: true do |f|
        = f.input :name
        = team_avatar_tag @team, {small:true, rounded:true} if @team.id
        = f.input :avatar, as: :file
        = f.input :description, as: :text, input_html: {style: 'max-height:130px; width:400px'}
        .actions
          = f.submit t('globals.save'), class: "btn btn-primary"
          <button class="btn" data-dismiss="modal" aria-hidden="true">
          %i.icon-remove
          = t('globals.cancel')
          </button>