- model_class = Team
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

.create-team
  - if current_user.in_team?
    .team-hint= t('notices.teams.cannot_create')
  - else
    = link_to '#TeamModal', 'data-toggle'=>'modal', :class => 'btn btn-success'  do
      %i(class='icon-pencil')
      = t('globals.create_team')

%table.table
  %tbody
    - @teams.each do |team|
      %tr.team
        %td= team_avatar_tag(team, {small:true, rounded:true})
        - klass = team.active? ? 'active' : 'inactive'
        %td{class: klass}= link_to team.active? ? team.name : inactive_name(team), team_path(team.id)
        %td= team.description
        - if !current_user.can_join?(team)
          %td(class='team-hint')= t('globals.member')
        - else
          %td= link_to t('globals.join'), join_team_path(team.id), confirm: t('notices.teams.really_join') + "\n" + t('notices.globals.glory_decrease', points: Team::TEAM_CHANGE_REPUTATION_DECREASE), class: 'btn btn-small btn-primary'
= render partial: 'form'