- model_class = Team
#profile_box
  #left_box
    .avatar
      = team_avatar_tag @team
  #right_box
    .teamname
      = @team.name
      - if current_user.can_edit_team?(@team)
        = link_to '#TeamModal', 'data-toggle'=>'modal', :class => 'btn'  do
          %i.icon-pencil
          = t('globals.edit')
      - else
        .team-info-hint
          = t('teams.home.edit_for_leader')
      - if current_user.can_join?(@team)
        = link_to join_team_path(@team.id), class: 'btn btn-success' do
          %i.icon-share-alt
          = t('globals.join')
    %p
      %strong= model_class.human_attribute_name(:description) + ':'
      = info_tag({key: :description, p: @team.description})
    %p
      %strong= t('teams.home.size') + ':' + " #{@team.size} members"

    - @team.users.each do |member|
      #team-members
        - if member == @team.leader
          .leader-tag
            = Team::LEADER_SIGN
        = avatar_tag member, {small:true, rounded:true}
        .online-tag
          = member.online?
        :javascript
          $(document).ready(function () {
            $("[rel=tooltip]").tooltip();
          });  

= render partial: 'form'  