%div{class:'modal hide fade', id:'chatModal', tabindex:'-1', role:'dialog', 'aria-hidden'=>'true', style: 'width:700px;'}
  .modal-header
    %button{type:'button', class:'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
      ×
  .modal-body(style='max-height:800px;')
    .sender
      = t('globals.from')
      - m ||= Message.find_by_id params[:id]
      = params[:m]
      - m ||= Message.all.first
      = avatar_tag m.sender, {tiny: true, rounded: true}
      = m.sender.first_name
    .reciever
      = t('globals.to')
      = avatar_tag m.reciever, {tiny: true, rounded: true}
      = m.reciever.first_name
    .divider
    .message-content
      .title
        = m.title
      .body
        = m.content
      .time
        = sent_at m
    %br
    .message-actions
      = link_to '#messageFormModal', 'data-toggle'=>'modal', :class => 'btn btn-primary'  do
        %i.icon-share-alt
        = t('messages.globals.reply')
      = link_to message_path(m.id), method: :delete, :class => 'btn btn-danger' do
        %i.icon-trash
        = t('globals.delete')
      <button class="btn" data-dismiss="modal" aria-hidden="true">
      %i.icon-remove
      = t('globals.close')
      </button>