%table.table
  %tbody
    - current_user.messages.each do |message|
      %tr(class='message-tr' href='#chatModal' data-toggle="modal" onmouseover="this.style.cursor='pointer';" onmousedown="$.ajax({type: 'POST',url: '/messages',data: #{message.id}")
        - if message.sender
          %td= avatar_tag message.sender, {small:true, rounded:true}
          %td
            = t('globals.from')
            = username message.sender
          %td
            .message-content
              .title
                = message.title
            %br
            = message.content
          %td.message-time
            = sent_at(message)

        = render partial: 'messages/chat', m: message