%div{class:'modal hide fade', id:'messageFormModal', tabindex:'-1', role:'dialog', 'aria-hidden'=>'true', style: 'width:700px;'}
  .modal-header
    %button{type:'button', class:'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
      ×
    .modal-hd
      = t('users.home.message_create')
    .modal-desc
      = t('users.home.message_create_desc')
  .modal-body(style='max-height:800px;')
    = params[:receiver_id]
    .big-inputs
      = simple_form_for @message, validate: true do |f|
        = f.input :sender_id, as: :hidden, input_html: { value: current_user.id }
        #receiver_id
          = f.input :reciever_id, as: :hidden
        = f.input :url, as: :hidden, input_html: { value: request.env['PATH_INFO'] }
        #receiver_name
          = f.input :reciever, readonly: true
        = f.input :title
        = f.input :content, as: :text, input_html: {style: 'max-height:130px; width:400px'}

        = f.submit nil, :class => 'btn btn-primary'
        <button class="btn" data-dismiss="modal" aria-hidden="true">
        %i.icon-remove
        = t('globals.close')
        </button>