%table.table
  %tbody
    - current_user.sent_messages.each do |message|
      %tr(class='message-tr' id="m" href="#chatModal" data-m="#{message.id}" data-toggle="modal" onmouseover="this.style.cursor='pointer'" )
        %td= avatar_tag message.reciever, {small:true, rounded:true}
        %td
          = t('globals.to')
          = username message.reciever
        %td
          .message-content
            .title
              = message.title
          %br
          = message.content
        %td.message-time
          = sent_at(message)


      = render partial: 'messages/chat'