.messages-index
  %div(class='tabbable')
    %ul{:class=>'nav nav-tabs'}
      %li{class: "#{'active' if params[:tab] == 'inbox'}"}
        = link_to t('messages.inbox.header'), '#inbox', 'data-toggle'=>'tab'
      %li{class:  "#{'active' if params[:tab] == 'sent'}"}
        = link_to t('messages.sent.header'), '#sent', 'data-toggle'=>'tab'
      %li{class:  "#{'active' if params[:tab] == 'notices'}"}
        = link_to t('messages.notices.header'), '#notices', 'data-toggle'=>'tab'
    %br
    %div(class='tab-content messages')
      %div{class:"#{params[:tab] == 'inbox' || !params[:tab] ? 'tab-pane active' : 'tab-pane'}", :id=>'inbox'}
        = render partial: 'messages/inbox'
      %div{class:"#{params[:tab] == 'sent' || !params[:tab] ? 'tab-pane active' : 'tab-pane'}", :id=>'sent'}
        = render partial: 'messages/sent'
      %div{class:"#{params[:tab] == 'notices' || !params[:tab] ? 'tab-pane active' : 'tab-pane'}", :id=>'notices'}
        = render partial: 'messages/notices'