%table.table
  %tbody
    - @users.each do |user|
      %tr
        %td= avatar_tag user, {small:true, rounded:true}
        %td
          = username user
          .online-tag
            = user.online?
        %td= email_tag user.email
        %td= user.country
        %td
          - unless user == current_user
            #lll(onmousedown="$.ajax({type: 'GET',url: '/users', data: 'receiver_id=#{user.id}'})" )
              = link_to '#messageFormModal', data: {toggle: :modal}, class: 'btn btn-primary' do
                %i.icon-envelope
                = t('globals.send_message')
            = render 'messages/message_form'
