%div{class:'modal hide fade', id:'editProfileModal', tabindex:'-1', role:'dialog', 'aria-hidden'=>'true', style: 'width:700px;'}
  .modal-header
    %button{type:'button', class:'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
      ×
    .modal-hd
      = t('users.home.edit_profile')
    .modal-desc
      = t('users.home.edit_profile_hint')
  .modal-body(style='max-height:800px;')
    .big-inputs
      = simple_form_for @user, method: :put, :html => { :class => 'form-horizontal' } do |f|
        .big-inputs
          = f.input :first_name
          = f.input :last_name
          = f.input :phone, as: 'tel'
          = avatar_tag @user, {small:true, rounded:true}
          = f.input :avatar, :as => 'file'
          = f.input :birth_date, as: 'date', end_year: Date.today.year - 50, start_year: Date.today.year - 7, input_html: {style: 'max-width:110px;'}
          = f.input :country, :as => 'country'
          = f.input :about, :as => 'text', input_html: {style: 'max-height:130px; width:400px'}

          = f.submit nil, :class => 'btn btn-primary'
          <button class="btn" data-dismiss="modal" aria-hidden="true">
          %i.icon-remove
          = t('globals.close')
          </button>