#registration_quest_box
  #loading
    .spinner
  - @user.steps.each do |s|
    #coach_speech
      %div{id:"c_step_#{s}"}
        = coach_box(t("registration_quest.coach.step_#{s}_speech"))
    #user_info
      %div{id:"step_#{s}"}
        = render partial: "registration_quest/step_#{s}", locals: {form: form}
  #actions
    = link_to users_path(cancel_register: true), class: "btn btn-danger btn-block" do
      %i.icon-off
      = t('globals.leave')
    = link_to  new_user_path, remote: true, class: "btn btn-primary btn-block", id: 'continue_registration' do
      = t('globals.continue')
      %i.icon-arrow-right