%table.table
  %tbody
    This functionality will be implemented in a near future)
    - current_user.friends.each do |user|
      %tr
        %td= avatar_tag user, {small:true, rounded:true}
        %td
          = username user
          .online-tag
            = user.online?
        %td= email_tag user.email
        %td= user.country
        %td
          - unless user == current_user
            = link_to '#messageFormModal', 'data-toggle'=>'modal', 'data-reciever_id'=> user.id, class: 'btn btn-primary'  do
              %i.icon-envelope
              = t('globals.send_message')

      = render 'messages/message_form', user: user