- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
  - klass = 'btn btn-primary'
  = link_to t('users.globals.online'), users_path(list: :online_users), remote: true, class: "#{params[:list] != 'online_users' ? 'btn btn-primary disabled' : klass}"
  = link_to t('users.globals.friends'), users_path(list: :friends), remote: true, class: "#{params[:list] != 'friends' ? 'btn btn-primary disabled' : klass}"
  = link_to t('users.globals.all'), users_path(list: :all_users), remote: true, class: "#{params[:list] != 'all_users' ? 'btn btn-primary disabled' : klass}"
  = link_to t('users.globals.team'), users_path(list: :team_users), remote: true, class: "#{params[:list] != 'team_users' ? 'btn btn-primary disabled' : klass}"

#users-list
  = render partial: 'all_users'