- model_class = User
#profile_box
  #left_box
    .avatar
      = avatar_tag @user
    .email
      = email_tag @user.email
      = #render 'followings', user: @user
  #right_box
    .username
      = username @user
      - if current_user.can_edit?(@user)
        = link_to '#editProfileModal', 'data-toggle'=>'modal', :class => 'btn'  do
          %i(class='icon-pencil')
          = t('globals.edit')
      - else
        = link_to '#messageFormModal', 'data-toggle'=>'modal', :class => 'btn btn-primary'  do
          %i.icon-envelope
          = t('globals.send_message')
    .online-tag-show
      = @user.online?
    %div.parameter-field
      %strong= model_class.human_attribute_name(:reputation) + ':'
      = info_tag({key: :reputation, p: @user.reputation})
    %div.parameter-field
      %strong= model_class.human_attribute_name(:phone) + ':'
      = info_tag({key: :phone, p: @user.phone})
    %div.parameter-field
      %strong= model_class.human_attribute_name(:birth_date) + ':'
      = info_tag({key: :birth, p: @user.birth_date.strftime('%d %B %Y')})
    %div.parameter-field
      %strong= model_class.human_attribute_name(:country) + ':'
      = info_tag({key: :country, p: @user.country})
    %div.parameter-field
      %strong= model_class.human_attribute_name(:about) + ':'
      = info_tag({key: :about, p: @user.about})

    - if @user == current_user
      - user_to_show = current_user
      - delete_button = true
    - else
      - user_to_show = @user
      - delete_button = false
    %div{class: 'parameter-field status-tag'}
      = render partial: 'games/current_games', locals: {user: user_to_show, show_resign: delete_button, small: true }

= render partial: 'edit_form'
= render partial: 'messages/message_form'
