.login-form
  = form_tag(do_login_welcome_index_url) do

    = text_field_tag :email, nil, :placeholder => 'Email'
    = password_field_tag :password, nil, :placeholder => 'Password'

    = submit_tag t('welcome.login.sign_in'), class: 'btn btn-primary login-button', style: 'width:320px'

    .remember-me
      = check_box_tag :remember_me, params[:remember_me], :checked => true
      %div.small-text
        = t('welcome.login.remember_me')

    = link_to t('welcome.login.forgot'), '#restorePasswdModal', 'data-toggle'=>'modal', class: 'forgot_password pull-right'

.register
  = link_to t('welcome.login.register'), new_user_path, :class => 'btn btn-large btn-block btn-success'

= render partial: 'password_restore/new_modal'