.heading
  = t('welcome.title')
.subheading
  = t('welcome.description')
  #javascript-errors
- cache do
  = image_tag 'chess-banner.jpg', style: 'width: 770px'

  = render 'login' unless current_user