= simple_form_for :user, remote: true do |form|
  = hidden_field_tag :step, @step
  = form.input :password, hint: 'No special characters.', input_html: { maxlength: 20 }
  = form.input :password_confirmation, as: :password, required: true
  = @user.security_code
  = form.input :security_code do
    = text_field_tag :security_code