%div{class:'modal hide fade', id:'createNew', tabindex:'-1', role:'dialog', 'aria-hidden'=>'true', style: 'height: 700px;width:900px;'}
  .modal-header
    %button{type:'button', class:'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
      ×
    .modal-hd
      = t('news.modals.create')
    .modal-desc
      = t('news.modals.create_desc')
  .modal-body(style='max-height: 800px !important; height:800px')
    = simple_form_for @post, validate: true do |f|
      = f.input :author_id, as: :hidden, input_html: { value: current_user.id }
      = f.input :title
      = f.input :content, label: false, :as => :ckeditor, input_html: {:ckeditor => {width: '800px', :toolbar => "Easy"}}
      = f.submit nil, :class => 'btn btn-primary'
      <button class="btn" data-dismiss="modal" aria-hidden="true">
      %i.icon-remove
      = t('globals.close')
      </button>