%br
%div(class='tab-content news')
  - @interesting.each do |post|
    - cache(post) do
      #post
        .left_box
          = avatar_tag post.author, small: true
        .right_box
          .title
            = link_to  post.title, '#showPostModal', 'data-toggle' => :modal
          - if current_user.can_create_news?
            %div(style='float:right;position:relative')
              = link_to t('globals.destroy'), news_path(post), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'
          .content
            = truncate(post.content, length: 300).html_safe
            |
            = link_to 'Read more', '#showPostModal', 'data-toggle' => :modal
          .post-footer
            .likes
              = ratings_for post, :remote_options => {:url => rate_news_index_path(post)}
            .created
              = post.created_at.strftime('%d %B %Y')