%div{class:'modal hide fade', id:'showPostModal', tabindex:'-1', role:'dialog', 'aria-hidden'=>'true', style: 'min-height: 300px'}
  .modal-header
    %button{type:'button', class:'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
      ×
    .modal-hd
      = t('news.modals.show')
    .modal-desc
      = t('news.modals.show_desc')
  .modal-body(style='min-width:500px;max-height:550px;overflow:scroll;')
    = @show_post.title
    .content
      = @show_post.content
    = attachment_tag(@show_post, huge: true)
    <button class="btn" data-dismiss="modal" aria-hidden="true">
    %i.icon-remove
    = t('globals.close')
    </button>