%div(class='tabbable')
  %ul{:class=>'nav nav-tabs'}
    %li{class:  "#{'active' if params[:tab] == 'all'}"}
      = link_to t('news.all.header'), news_index_path(tab: :all), remote: true,  'data-toggle'=>'tab'
    %li{class: "#{'active' if params[:tab] == 'recent'}"}
      = link_to t('news.recent.header'), news_index_path(tab: :recent), remote: true, 'data-toggle'=>'tab'
    %li{class:  "#{'active' if params[:tab] == 'interesting'}"}
      = link_to t('news.interesting.header'), news_index_path(tab: :interesting), remote: true, 'data-toggle'=>'tab'


- if current_user.can_create_news?
  = link_to 'Create Some News', '#createNew', 'data-toggle'=> 'modal', class: 'btn btn-primary'
  = render 'form_modal'

#news-list
  = render partial: 'news/all'

