%div{class:'modal hide fade', id:'invitationModal', tabindex:'-1', role:'dialog', 'aria-hidden'=>'true', style: 'min-height: 300px'}
  .modal-header
    %button{type:'button', class:'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
      ×
    .modal-hd
      = t('users.invitations')
    .modal-desc
      = t('users.invitations_desc')
  .modal-body
    - if current_user.invitation_limit > 0
      = simple_form_for :invitation, url: invitations_path, method: :post do |f|
        = f.input :recipient_email
        = f.submit 'Invite!', class: 'btn btn-primary'
    - else
      limit reached! get invitations by payments should be implemented in near future