- side = current_user.game_side(@game_db)
= chess_board_tag(side, large: true)
- @game_core.board.to_images.each_pair do |pos, piece|
  = image_tag "chess/sets/default/#{piece}.png", size: '60x60', id: "#{side.first.downcase}_#{pos}"

= link_to 'All Games', games_path, class: 'btn btn-large btn-primary'