.games-subheader= t 'games.online.current_games', count: user.current_games.count
- if user.has_current_games?
  - klass = small ? 'table small-table' : 'table'
  %table{class: klass}
    %thead
      %tr
      %th= t('games.globals.opponent')
      %th= t('games.globals.time')
      %th= t('games.globals.rating')
      %th= t('games.globals.play_as')
      %th= t('games.globals.actions')
    %tbody
      - user.current_games.each do |gameplay|
        %tr
          %td= gameplay.game.opponent(user)
          %td= gameplay.game.display_time
          %td= gameplay.game.rating
          %td= side_tag gameplay.play_as, small: true, rounded: true
          %td
            = link_to t('games.globals.show'), game_path(gameplay.game_id), class: 'btn btn-small btn-primary'
            - if show_resign
              = link_to t('games.globals.resign'), game_path(gameplay), method: :delete, remote: true, confirm: t('games.globals.confirm-resign'), class: 'btn btn-small btn-danger'
