= simple_form_for :game, remote: true do |f|
  %div(style='display:inline-block;')
    = f.input :min_rating, label: 'Opponent: ', placeholder: 'min', input_html: {value: current_user.rating_range[:min]}
  %div(style='display:inline-block;')
    = f.input :max_rating, label: false, placeholder: 'max', input_html: {value: current_user.rating_range[:max]}
  = f.input :timer, label: 'Select Timer', collection: Game.times_for_select, prompt: false
  = f.input :side, label: 'Play As', collection: Gameplay::SIDES, prompt: false
  %div(style='width:170px !important; margin-left: 100px;')
    = link_to 'Play >', nil, remote: true, class: 'btn btn-block btn-success', id: 'create_game'