- if current_user.has_not_started_games?
  .games-subheader
    = t 'games.online.requested_games', count: current_user.not_started_games.count
    .hint= 'Click to edit!'
  %table.table
    %thead
      %tr
      %th= t('games.globals.opponent')
      %th= t('games.globals.time')
      %th= t('games.globals.rating')
      %th= t('games.globals.play_as')
    %tbody
      - current_user.not_started_games.each do |gameplay|
        %tr#new-game-box
          %td= gameplay.game.opponent(current_user)
          %td
            = best_in_place gameplay.game, :timer, type: :select, collection: Game.times_for_select, prompt: false
          %td
            = best_in_place gameplay.game, :min_rating
            = '-'
            = best_in_place gameplay.game, :max_rating
          %td
            = best_in_place(gameplay.game, :side, :classes => 'replace_picture_on_success', type: :select, collection: Game.side_for_select, prompt: false)
          %td
            = link_to game_path(gameplay), method: :delete, remote: true, confirm: t('globals.confirm.') do
              %i.icon-trash
