$("#my-requested-games").html("<%= escape_javascript render partial: 'not_started_games' %>");
$("#current-games").html("<%= escape_javascript render partial: 'current_games', locals: {user: current_user, small: false,  show_resign: true} %>");
$('#javascript-info').html("Game was successfully deleted by your wish!").show().addClass('animated bounceInUp').delay(5000).slideUp(700)