.games-header=t 'games.online.header'

#javascript-errors
#javascript-info

#current-games
  = render partial: 'current_games', locals: {user: current_user, small: false,  show_resign: true}

#loading
  .spinner
  .loading-text
    Loading...

#my-requested-games
  = render partial: 'not_started_games'


