%p#notice= notice
%p
  You are playing
  = current_user.game_side(@game_db.id)

#chess-board-box
  = render 'board'

#moves
  = simple_form_for :move, url: make_move_game_path(@game_db), method: :get do |f|
    = f.input :from
    = f.input :to
    = f.submit 'Go'

  = @game_core.board.situation
