%div{class:'modal hide fade', id:'restorePasswdModal', tabindex:'-1', role:'dialog', 'aria-hidden'=>'true'}
  .modal-header
    %button{type:'button', class:'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
      ×
    .modal-hd
      = t('welcome.registration.restore_passwd')
    .modal-desc
      = t('welcome.registration.restore_hint')
  .modal-body
    .provide-email
      = simple_form_for :restore, { url: password_restore_index_path, method: :post } do |f|
        = f.input :email
        .modal-footer
          = f.button :submit, t('welcome.registration.restore_passwd'), class: 'btn btn-success'
          %button.btn.btn-small(data-dismiss="modal" aria-hidden="true")
            %i.icon-remove
            = t('globals.close')
