<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Chess School</title>
  <style type="text/css">
      body, td { color:#000000; font-size:14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; background-color: #d6d6d6;}
      .divider { background-color:#555555; height:2px; }
      .greeting h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
      .greeting p { margin:8px 0; }
      .greeting img { border:solid 1px #777777; }
      .thanks {color: #005580;}
      .greeting .duration { font-size:11px;color:#555555; }
      #footer { font-size:11px; color:#555555; }
      #footer a { color:#555555;}
  </style>
</head>
<body>
<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr><td align="center" valign="top">
    <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
      <h2 id="header" colspan="2">
        <img alt="Chess_logo" height="50" src="http://chesschool.herokuapp.com/assets/chess_logo-cda9b116429b62c145bc775bbe2eec7b.png" width="50">
        Welcome to Chess School! You are near the ending of your registration in our game!
      </h2>
      <tr>
        <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
      </tr>
      <tr class="greeting">
        <td class='thanks'><%= t('mailer.account_activation.header', name: @user.first_name) %></td>
      </tr>
      <tr>
        <td valign="top">
          <p>Security Code: <%= @user.security_code %></p>
          <p id='footer'>Make sure that nobody knows this code.</p>
        </td>
      </tr>
      <tr>
        <td><%= t('mailer.account_activation.body') %></td>
      </tr>
      <tr>
        <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
      </tr>
      <tr>
        <td id="footer" colspan="2" align="center">
          <p>&copy;2013 Chess School</p>
        </td>
      </tr>
    </table>
  </td></tr>
</table>
</body>
</html>