#footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  clear: both;
  position: relative;
  z-index: 10;
  background-color: #D0D1D4;
  .online {
    padding: 10px;
  }
  .timenow {

  }
  .contact {
    clear: left;
    font-size: 12px;
    display: block;
    color: #555;
    font-style: italic;
  }
}

.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #d00;
  padding-left: 5px;
}

.simple_form label {
  float: left;
  width: 125px;
  text-align: right;
  margin: 2px 10px;
  display: inline;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

.alert {
  text-align: center;
  max-width: 600px;
  margin-bottom: 25px;
  margin-left: 300px;
  margin-right: 400px;
  margin-top: -30px;
}

.dropdown-menu {
  min-width: auto;
}

.dropdown-with-icon {
  font-size: 18px;
  padding: 6px;
  margin-left: 10px;
  display: block;
}

.dropdown-image {
  position: absolute;
  margin: 1px;
}

.dropdown-li {
  padding-left: 30px !important;
  p {
    font-size: 14px;
    color: #04521b;
  }
}

.team {
  border: 4px solid #666666;
  background-color: #9d9d9d;
}
