/*playing white pieces to display board*/

#w_a1 {position: relative; left:-5px; top: -70px}
#w_b1 {position: relative; left:10px; top: -70px}
#w_c1 {position: relative; left:20px; top: -70px}
#w_d1 {position: relative; left:30px; top: -70px}
#w_e1 {position: relative; left:40px; top: -70px}
#w_f1 {position: relative; left:50px; top: -70px}
#w_g1 {position: relative; left:60px; top: -70px}
#w_h1 {position: relative; left:70px; top: -70px}
#w_a2 {position: relative; left:-455px; top: -210px}
#w_b2 {position: relative; left:-445px; top: -210px}
#w_c2 {position: relative; left:145px; top: -270px}
#w_d2 {position: relative; left:155px; top: -270px}
#w_e2 {position: relative; left:165px; top: -270px}
#w_f2 {position: relative; left:175px; top: -270px}
#w_g2 {position: relative; left:185px; top: -270px}
#w_h2 {position: relative; left:195px; top: -270px}
#w_a3 {}
#w_b3 {}
#w_c3 {}
#w_d3 {}
#w_e3 {}
#w_f3 {}
#w_g3 {}
#w_h3 {}
#w_a4 {}
#w_b4 {}
#w_c4 {}
#w_d4 {}
#w_e4 {}
#w_f4 {}
#w_g4 {}
#w_h4 {}
#w_a5 {}
#w_b5 {}
#w_c5 {}
#w_d5 {}
#w_e5 {}
#w_f5 {}
#w_g5 {}
#w_h5 {}
#w_a6 {}
#w_b6 {}
#w_c6 {}
#w_d6 {}
#w_e6 {}
#w_f6 {}
#w_g6 {}
#w_h6 {}
#w_a7 {position: relative; left:-390px; top: -645px}
#w_b7 {position: relative; left:-380px; top: -645px}
#w_c7 {position: relative; left:-370px; top: -645px}
#w_d7 {position: relative; left:150px; top: -705px}
#w_e7 {position: relative; left:160px; top: -705px}
#w_f7 {position: relative; left:170px; top: -705px}
#w_g7 {position: relative; left:180px; top: -705px}
#w_h7 {position: relative; left:200px; top: -705px}
#w_a8 {position: relative; left:-520px; top: -600px}
#w_b8 {position: relative; left:70px; top: -660px}
#w_c8 {position: relative; left:80px; top: -660px}
#w_d8 {position: relative; left:90px; top: -660px}
#w_e8 {position: relative; left:100px; top: -660px}
#w_f8 {position: relative; left:110px; top: -660px}
#w_g8 {position: relative; left:120px; top: -660px}
#w_h8 {position: relative; left:130px; top: -660px}

/*playing black pieces to display rotated board board*/

#b_a1 {position: relative; left:-5px; top: -595px}
#b_b1 {position: relative; left:3px; top: -595px}
#b_c1 {position: relative; left:12px; top: -595px}
#b_d1 {position: relative; left:100px; top: -595px}
#b_e1 {position: relative; left:-40px; top: -595px}
#b_f1 {position: relative; left:42px; top: -595px}
#b_g1 {position: relative; left:52px; top: -595px}
#b_h1 {position: relative; left:65px; top: -595px}
#b_a2 {position: relative; left:65px; top: -580px}
#b_b2 {position: relative; left:-70px; top: -580px}
#b_c2 {position: relative; left:370px; top: -640px}
#b_d2 {position: relative; left:155px; top: -640px}
#b_e2 {position: relative; left:160px; top: -640px}
#b_f2 {position: relative; left:-52px; top: -640px}
#b_g2 {position: relative; left:-185px; top: -640px}
#b_h2 {position: relative; left:-325px; top: -640px}
#b_a3 {}
#b_b3 {}
#b_c3 {}
#b_d3 {}
#b_e3 {}
#b_f3 {}
#b_g3 {}
#b_h3 {}
#b_a4 {}
#b_b4 {}
#b_c4 {}
#b_d4 {}
#b_e4 {}
#b_f4 {}
#b_g4 {}
#b_h4 {}
#b_a5 {}
#b_b5 {}
#b_c5 {}
#b_d5 {}
#b_e5 {}
#b_f5 {}
#b_g5 {}
#b_h5 {}
#b_a6 {}
#b_b6 {}
#b_c6 {}
#b_d6 {}
#b_e6 {}
#b_f6 {}
#b_g6 {}
#b_h6 {}
#b_a7 {position: relative; left:130px; top: -265px}
#b_b7 {position: relative; left:-10px; top: -265px}
#b_c7 {position: relative; left:-145px; top: -265px}
#b_d7 {position: relative; left:165px; top: -325px}
#b_e7 {position: relative; left:25px; top: -325px}
#b_f7 {position: relative; left:-115px; top: -325px}
#b_g7 {position: relative; left:-250px; top: -325px}
#b_h7 {position: relative; left:-390px; top: -325px}
#b_a8 {position: relative; left:5px; top: -70px}
#b_b8 {position: relative; left:440px; top: -130px}
#b_c8 {position: relative; left:305px; top: -130px}
#b_d8 {position: relative; left:165px; top: -130px}
#b_e8 {position: relative; left:25px; top: -130px}
#b_f8 {position: relative; left:-115px; top: -130px}
#b_g8 {position: relative; left:-250px; top: -130px}
#b_h8 {position: relative; left:-385px; top: -130px}