// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin small-inputs {
  input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
  input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
  .uneditable-input {
    //margin-top: $margin-top;
    //margin-left: $margin-left;
    height: 30px;
    width: 80px;
  }
}

@mixin notice {
  max-width: 600px;
  text-align: center;
  border-radius: 4px 4px 4px 4px;
  padding: 8px 35px 8px 14px;
  display: none;
}

#new-game-box {
  @include small-inputs;
  select {
    width: 100px;
  }
}

#game_time_per_move {
  width: 100px;
}

//.simple_form div.boolean, .simple_form input[type="submit"] {
//  margin-left: 0px;
//}

.games-header {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

.games-subheader {
  font-size: 17px;
  margin-bottom: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #8a8b8a;
  .hint {
    clear: left;
    font-size: 12px;
    display: block;
    color: #555;
    font-style: italic;
  }
}

#javascript-errors {
  background-color: #F2DEDE;
  border:1px solid  #EED3D7;
  color: #B94A48;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  @include notice;
}

#javascript-info {
  background-color: #D9EDF7;
  border: 1px solid #BCE8F1;
  color: #3A87AD;
  @include notice;
}

#chess-board-box {
  text-align: center;
  margin: 20px;
  padding: 10px;
  position: absolute;
  max-width: 610px;
  max-height: 610px;
  z-index: 1010;
}

#moves {
  display: block;
  position: absolute;
  top: 650px;
  left: 965px;
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

#loading {
  display: none;
  opacity: 0.8;
  z-index: 1020;
  background-color: #000000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 25;
  .loading-text {
    font-size: 20px;
    left: 47%;
    position: relative;
    top: -15%;
  }
}