@mixin member() {
  display: inline-block;
  padding: 5px;
  margin: 7px;
}

@mixin time() {
  color: #a7a7a7;
  font-size: 15;
  font-style: italic;
}

.messages {
  min-width: 300px;
}

.message-tr {
  min-width: 300px;
}

.message-tr:hover {
  color: #fff;
  background-color: #1d9aff;
}

.message-tr:hover td {
  background-color: transparent;
}

.message-time {
  @include time;
}

.sender {
  @include member;
}

.reciever {
  @include member;
}

.message-content {

  .title {
    font-size: 25px;
  }

  .body {

  }
  .time {
    float: right;
    @include time;
  }

}

.message-actions {
  float: right;
  margin: 10px;
  a {color: #fff !important;}
}
