// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post {
  padding: 8px;
  width: auto;
  max-height: auto;

  .left_box {
    display: inline-block;
    margin-right: 10px;
    height: auto;
  }

  .right_box {
    clear: left;
    position: relative;
    display: inline;
    margin-left: 10px;
    margin-bottom: 5px;

    .title {
      display: inline-block;
      font-weight: bold;
      font-size: 20px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom:1px solid #7a7d66;
      max-width: 500px;
    }

    .content {
      max-width: 750px;
    }

    .post-footer {
      border-bottom: 2px solid #7a7d66;
      border-left: none;
      border-right: none;
      border-top: none;

      .likes{
        display: inline-block;
      }
      .created {
        color: #868686;
        font-style: italic;
        display: inline-block;
        font-size: 12px;
        padding-bottom: 10px;
        float: right;
      }
    }
  }
}

.content {
  max-width: 750px;
}