// Place all the styles related to the RegistrationQuest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'welcome.css.scss';

$red: #F2DEDE;
$blue: #D9EDF7;
$green: #DFF0D8;

@mixin coach_speech_borders {
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#registration_quest_box {
  padding: 10px;
  background-color: $blue;
  border-color: #BCE8F1;
  @include coach_speech_borders;

  #coach_speech {
    padding: 10px;
    width: auto;
    display: inline-block;
    .notice {
      background-color: $blue;
      border-color: #BCE8F1;
      @include coach_speech_borders;
    }

    .error {
      background-color: $red;
      border-color: #EED3D7;
      @include coach_speech_borders;
    }

    .success {
      background-color: $green;
      border-color: #D6E9C6;
      @include coach_speech_borders;
    }
  }

  #user_info {
    padding: 10px;
    @include input-big(1px, 1px);
  }

  .coach_text {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    max-width: 620px;
    min-width: 600px;
  }

  .coach {
    display: inline-block;
    width: 82px;
    .avatar {
      padding: 2px;
    }

    .name {
      padding: 3px;
      width: auto;
      text-align: center;
    }
  }
}

#actions {
  margin-left: 140px;
  display:block;
  position: absolute;
  left:650px;
  top: 285px;
  padding: 20px;
  padding-right: 40px;
  border: 3px solid rgba(50, 216, 255, 0.70);
  border-radius: 5px;
  background-color: rgba(88, 218, 255, 0.85);
  .btn-block {
    width: 120%;
  }
}
