// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey : #555;

.create-team {
  margin-bottom: 20px;
}

#team-members {
  display: inline-table;
  padding: 5px;
}

.team-info-hint {
  clear: left;
  font-size: 12px;
  display: block;
  color: #dd0000;
  font-style: italic;
  margin-top: 5px;
}

.leader-tag {
  font-size: 15px;
  font-weight: bold;
  color: #0062a6;
  text-align: center;
}

.team-hint {
  font-size: 12px;
  display: block;
  color: $grey;
  font-style: italic;
}

.inactive a {
  color: $grey;
}

.active a {color: #04521b}