.log-out {
  text-align: center;
}

#profile_box {
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 50px;

  #left_box {
    display: inline-block;
    margin-right: 10px;
    min-height: 300px;
    .email {
      margin-top: 10px;
      margin-left: 10px;
      font-weight: 100;
      font-size: 22px;
    }
    .avatar {

    }

  }

  #right_box {
    display: inline-block;
    position: absolute;
    min-height: 500px;

    .username {
      font-size: 40;
      padding-bottom: 20px;
      font-weight: 100;
      letter-spacing: 2px
    }

    .teamname {
      font-size: 40;
      padding-bottom: 20px;
    }
  }
}

.small-table {
  font-size: 12px !important;
}

.online-tag {
  color: #a7a7a7;
  font-size: 15;
}

.online-tag-show {
  color: #a7a7a7;
  font-size: 20;
  padding-bottom: 10px;
}

.user-info-hint {
  clear: left;
  font-size: 12px;
  display: block;
  color: #dd0000;
  font-style: italic;
  display: inline-block;
  margin-left: 15px;
}

.user-info {
  clear: left;
  display: inline-block;
  font-style: italic;
}

#step_2 {display: none;}
#c_step_2 {display: none;}

#step_3 {display: none;}
#c_step_3 {display: none;}

#step_4 {display: none;}
#c_step_4 {display: none;}

.parameter-field {
  margin-bottom: 10px;
}

.status-tag {
  max-width: 550px;
}

