// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$subhead-color: #999;
$head-color: #333;
$shadow: 0px 1px 1px #fff;

@mixin input-big($margin-top, $margin-left) {
  input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
  input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
  .uneditable-input {
    margin-top: $margin-top;
    margin-left: $margin-left;
    height: 30px;
  }
}

.heading {
  padding: 2px;
  font-size: 60;
  font-weight: 500;
  color: $head-color;
  margin-bottom: 50px;
}

.subheading {
  color: $subhead-color;
  width: auto;
  font-size: 20;
  font-weight: 500;
  text-shadow: $shadow;
  filter: dropshadow(color=#fff, offx=0, offy=1);
  margin-bottom: 40px;
  letter-spacing: -1px;
}

.small-text {
  color: $subhead-color;
  font-size: 10pt;
  font-weight: 200;
  text-shadow: $shadow;
  text-align: center;
  line-height: 28px;
  display: inline-block;
}

.login-form {
  height: 50px;
  background-color: #1B1B1B;
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#111111',GradientType=0 );

  @include input-big(10px, 10px);

  .text {
    width: 250px;
    float: left;
    padding-right: 16px;
    font-size: 40;
    padding: 20;
  }

}

.register {
  margin-top: 40px;
}

.modal-hd {
  font-size: 25;
  color: $head-color;
}

.modal-desc {
  color: $subhead-color;
}

.modal-body {
  @include input-big(1px, 1px);
}

.big-inputs {
  @include input-big(1px, 1px);
}

.captcha {
  text-align: center;
}

.login-button {
  height: 31px;
  margin-left: 5px;
  margin-right: 5px;
}

.forgot_password {
  display: inline-block;
  margin-top: 5px;
}

.remember-me {
  display: inline-block;
}