#flash
  - if flash[:notice]
    %div{:class => 'alert alert-info animated swing', id: 'flash-info'}
      = flash[:notice]
  - if flash[:error]
    %div{:class => 'alert alert-error animated shake', id: 'flash-error'}
      = flash[:error]
  - if flash[:success]
    %div{:class => 'alert alert-success animated tada', id: 'flash-success'}
      = flash[:success]
%div.field_with_errors

