&copy
= copyright_notice_year_range(2013)
= link_to 'VoolCan Inc.', 'http://dygabox.herokuapp.com/'
All Rights Reserved
.contact
  = t 'welcome.footer.contact'
  = mail_to 'otan256@gmail.com'
.online
  = t('welcome.footer.online', count: online_count)
.timenow
  = Time.now.strftime('%d %B %Y %H:%M')

