%ul.nav
  %li.dropdown
    %a{:class=>"dropdown-toggle", :id=>"dLabel", :role=>"button", 'data-toggle'=>"dropdown", 'data-target'=>"#", :href=>"/"}
      %i.icon-comment
      = t('navigation.header.forum')
      %b.caret
    %ul.dropdown-menu
      %li(class='dropdown-with-icon')
        = image_tag 'icons/all_topics.png', size: '25x25', class: 'dropdown-image'
        = link_to portal_dashboard_link({tab: :news, what: :all}), target: '_blank', class: 'dropdown-li' do
          = t('forum.globals.all_topics')
          %p= t('forum.globals.all_topics_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/unanswered.png', size: '25x25', class: 'dropdown-image'
        = link_to portal_dashboard_link({tab: :news, what: :unanswered}), target: '_blank', class: 'dropdown-li' do
          = t('forum.globals.unanswered_topics')
          %p= t('forum.globals.unanswered_topics_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/my_topics.jpg', size: '25x25', class: 'dropdown-image'
        = link_to portal_dashboard_link({tab: :news, what: :my}), target: '_blank', class: 'dropdown-li' do
          = t('forum.globals.my_topics')
          %p= t('forum.globals.my_topics_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/new_topics.png', size: '25x25', class: 'dropdown-image'
        = link_to portal_dashboard_link({tab: :news, what: :new}), target: '_blank', class: 'dropdown-li' do
          = t('forum.globals.new_topics')
          %p= t('forum.globals.new_topics_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/hot.png', size: '25x25', class: 'dropdown-image'
        = link_to portal_dashboard_link({tab: :news, what: :hot}), target: '_blank', class: 'dropdown-li' do
          = t('forum.globals.hot_topics')
          %p= t('forum.globals.hot_topics_desc')