%ul.nav
  %li.dropdown
    %a{:class=>"dropdown-toggle", :id=>"dLabel", :role=>"button", 'data-toggle'=>"dropdown", 'data-target'=>"#", :href=>"/"}
      %i.icon-leaf
      = t('navigation.header.play')
      %b.caret
    %ul.dropdown-menu
      %li(class='dropdown-with-icon')
        = image_tag 'icons/with-friends.png', size: '25x25', class: 'dropdown-image'
        = link_to games_path, class: 'dropdown-li' do
          = t('games.globals.chess_with_friends')
          %p= t('games.globals.chess_with_friends_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/tournaments.png', size: '25x25', class: 'dropdown-image'
        = link_to games_path, class: 'dropdown-li' do
          = t('games.globals.chess_tournaments')
          %p= t('games.globals.chess_tournaments_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/live-chess.jpg', size: '25x25', class: 'dropdown-image'
        = link_to games_path, class: 'dropdown-li' do
          = t('games.globals.live_chess')
          %p= t('games.globals.live_chess_desc', count: 4)