%ul{class:'nav pull-right'}
  %li.dropdown
    %a{:class=>"dropdown-toggle", :id=>"dLabel", :role=>"button", 'data-toggle'=>"dropdown", 'data-target'=>"#", :href=>"/"}
      %i.icon-home
      = current_user.first_name
      %b.caret
    %ul.dropdown-menu
      %li(class='dropdown-with-icon')
        = image_tag 'icons/home.png', size: '25x25', class: 'dropdown-image'
        = link_to user_path(current_user.id), class: 'dropdown-li' do
          = t('users.home.title')
          %p= t('users.home.title_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/messages.png', size: '25x25', class: 'dropdown-image'
        = link_to messages_path(tab: 'inbox'), class: 'dropdown-li' do
          = t('users.home.messages')
          %p= t('users.home.messages_desc')

      %li.divider

      %li(class='dropdown-with-icon')
        = image_tag 'icons/logout.gif', size: '25x25', class: 'dropdown-image'
        = link_to logout_path, class: 'dropdown-li' do
          = t('globals.sign_out')
          %p= t('globals.sign_out_desc')
