%ul.nav
  %li.dropdown
    %a{:class=>"dropdown-toggle", :id=>"dLabel", :role=>"button", 'data-toggle'=>"dropdown", 'data-target'=>"#", :href=>"/"}
      %i.icon-share
      = t('navigation.header.social')
      %b.caret
    %ul.dropdown-menu
      %li(class='dropdown-with-icon')
        = image_tag 'icons/members.jpg', size: '25x25', class: 'dropdown-image'
        = link_to users_path, class: 'dropdown-li' do
          = t('social.globals.members')
          %p= t('social.globals.members_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/invite.jpg', size: '25x25', class: 'dropdown-image'
        = link_to '#invitationModal', 'data-toggle'=> 'modal', class: 'dropdown-li' do
          = t('social.globals.invite')
          %p= t('social.globals.invite_desc', limit: current_user.invitation_limit)

      %li(class='dropdown-with-icon')
        = image_tag 'icons/team.jpg', size: '25x25', class: 'dropdown-image'
        = link_to teams_path, class: 'dropdown-li' do
          = t('social.globals.teams')
          %p= t('social.globals.teams_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/news.png', size: '25x25', class: 'dropdown-image'
        = link_to news_index_path(tab: 'all'), class: 'dropdown-li' do
          = t('social.globals.news')
          %p= t('social.globals.news_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/blogs.png', size: '25x25', class: 'dropdown-image'
        - # TODO!!!!
        = link_to '#', class: 'dropdown-li' do
          = t('social.globals.blogs')
          %p= t('social.globals.blogs_desc')

= render 'invitations/invitation_modal'