%ul.nav
  %li.dropdown
    %a{:class=>"dropdown-toggle", :id=>"dLabel", :role=>"button", 'data-toggle'=>"dropdown", 'data-target'=>"#", :href=>"/"}
      %i.icon-book
      = t('navigation.header.study')
      %b.caret
    %ul.dropdown-menu
      %li(class='dropdown-with-icon')
        = image_tag 'icons/lessons.png', size: '25x25', class: 'dropdown-image'
        = link_to games_path, class: 'dropdown-li' do
          = t('study.globals.lessons')
          %p= t('study.globals.lessons_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/article.jpg', size: '25x25', class: 'dropdown-image'
        = link_to news_index_path, class: 'dropdown-li' do
          = t('study.globals.articles')
          %p= t('study.globals.articles_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/convensions.gif', size: '25x25', class: 'dropdown-image'
        = link_to games_path, class: 'dropdown-li' do
          = t('study.globals.convensions')
          %p= t('study.globals.convensions_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/tactics.gif', size: '25x25', class: 'dropdown-image'
        = link_to games_path, class: 'dropdown-li' do
          = t('study.globals.tactics')
          %p= t('study.globals.tactics_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/puzzles.png', size: '25x25', class: 'dropdown-image'
        = link_to games_path, class: 'dropdown-li' do
          = t('study.globals.puzzles')
          %p= t('study.globals.puzzles_desc')

      %li(class='dropdown-with-icon')
        = image_tag 'icons/basics.jpg', size: '25x25', class: 'dropdown-image'
        = link_to games_path, class: 'dropdown-li' do
          = t('study.globals.basics')
          %p= t('study.globals.basics_desc')