- cache do
  %div{class: 'navbar navbar-inverse navbar-fixed-top'}
    %div.navbar-inner
      %div.container
        %a{class:'btn btn-navbar', 'data-toggle'=>'collapse', 'data-target'=>'.nav-collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        = link_to t('globals.chesschool'), root_path, class: :brand
        %div.nav-collapse
          - if current_user.present?
            = render partial: 'navigation/games_dropdown'
            = render partial: 'navigation/study_dropdown'
            = render partial: 'navigation/social_dropdown'
            = render partial: 'navigation/forum_dropdown'
            = render partial: 'navigation/profile_dropdown'