%html
  %head
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = ajaxful_rating_style

    = csrf_meta_tags
    %meta{name:'viewport', content:'width=device-width, initial-scale=1.0', charset: 'utf-8'}

    %title
      = 'Chess ' + params[:controller].camelize

  %body
    = render template: 'navigation/header'

    = render partial: 'navigation/flash', locals: {flash: flash}

    %div.container
      %div.row
        - if params[:controller] == 'games' && params[:action] == 'show'
          = render 'layouts/game_layout'
        -else
          = render 'layouts/default_layout'
    #footer
<<<<<<< HEAD
      &copy
      = copyright_notice_year_range(2013)
      = link_to 'VoolCan Inc.', 'http://dygabox.herokuapp.com/'
      All Rights Reserved
      %div
        = t('welcome.footer.online', count: online_count)
=======
      = render partial: 'navigation/footer'
>>>>>>> a24522d64064da1b29987033f89df45841ea10b2
